html { 
    font-size: 100%; 
    overflow-y: scroll; 
    -webkit-text-size-adjust: 100%; 
    -ms-text-size-adjust: 100%; 
}

body{
    font-family: helvetica, arial, freesans, clean, sans-serif;
    color: #333;
    background-color: #fff;
    border-color: #999999;
    border-width: 2px;
    line-height: 1.5;
    margin: 2em 3em;
    text-align:left;
    padding: 0 100px 0 100px;
}

code{
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px; 

    padding: 4px 4px;
    color: #d14;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
    font-size: 13px;
}

pre{
  background-color: #f2f2f2;
    padding: 10px;
    border:1px #ddd solid;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    overflow: auto;
}

pre>code{
    padding: 1px 3px;
    color: black;
  background-color: #f2f2f2;
    border: none;
}

li p{
    margin: 0.3em;
}

ul > li{
    list-style-type: disc;
}

a:link, a:visited{
    color: #33e;
    text-decoration: none;
}

a:hover{
    color: #00f;
    text-decoration:underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: inherit;
  font-weight: bold;
  color: inherit;
  text-rendering: optimizelegibility;
}

h1 {
  font-size: 30px;
  line-height: 36px;
  color: #333;
}

h2 {
  font-size: 24px;
  line-height: 36px;
}

h3 {
  font-size: 18px;
  line-height: 27px;
}

h4,
h5,
h6 {
  line-height: 18px;
}

h4 {
  font-size: 14px;
}

h5 {
  font-size: 12px;
}

h6 {
  font-size: 11px;
  color: #999999;
  text-transform: uppercase;
}

blockquote {
border-left: 4px solid 
#DDD;
padding: 0 15px;
color: 
#777;
}
.shadow{
    -webkit-box-shadow:0 5px 15px #000;
    -moz-box-shadow:0 5px 15px #000;
    box-shadow:0 5px 15px #000;   
}

table {
    width: 100%;
    margin-bottom: 18px;
    max-width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
tr:hover{
  background-color: f7f7f7;
}

td {
  border-left: 1px solid #dddddd;
  padding: 8px;
  line-height: 18px;
  text-align: left;
  vertical-align: top;
  border: 1px solid 
  #ddd;
}
/*        Pygments Syntax Highlighting        */
 .hll { background-color: #ffffcc }
  { background: #f2f2f2; color: #586e75; background-color: #f2f2f2 }
 .c { color: #93a1a1; background-color: #f2f2f2 } /* Comment */
 .err { color: #586e75; background-color: #f2f2f2 } /* Error */
 .g { color: #586e75; background-color: #f2f2f2 } /* Generic */
 .k { color: #859900; background-color: #f2f2f2 } /* Keyword */
 .l { color: #586e75; background-color: #f2f2f2 } /* Literal */
 .n { color: #586e75; background-color: #f2f2f2 } /* Name */
 .o { color: #586e75; background-color: #f2f2f2 } /* Operator */
 .x { color: #586e75; background-color: #f2f2f2 } /* Other */
 .p { color: #586e75; background-color: #f2f2f2 } /* Punctuation */
 .cm { color: #93a1a1; background-color: #f2f2f2 } /* Comment.Multiline */
 .cp { color: #859900; background-color: #f2f2f2 } /* Comment.Preproc */
 .c1 { color: #93a1a1; background-color: #f2f2f2 } /* Comment.Single */
 .cs { color: #93a1a1; background-color: #f2f2f2 } /* Comment.Special */
 .gd { color: #f05151; background-color: #f2f2f2 } /* Generic.Deleted */
 .ge { color: #586e75; text-decoration: underline; background-color: #f2f2f2 } /* Generic.Emph */
 .gr { color: #586e75; background-color: #f2f2f2 } /* Generic.Error */
 .gh { color: #586e75; font-weight: bold; background-color: #f2f2f2 } /* Generic.Heading */
 .gi { color: #586e75; font-weight: bold; background-color: #9fe55a } /* Generic.Inserted */
 .go { color: #eae3c9; background-color: #eaebec } /* Generic.Output */
 .gp { color: #586e75; background-color: #f2f2f2 } /* Generic.Prompt */
 .gs { color: #586e75; background-color: #f2f2f2 } /* Generic.Strong */
 .gu { color: #586e75; font-weight: bold; background-color: #f2f2f2 } /* Generic.Subheading */
 .gt { color: #586e75; background-color: #f2f2f2 } /* Generic.Traceback */
 .kc { color: #859900; background-color: #f2f2f2 } /* Keyword.Constant */
 .kd { color: #859900; background-color: #f2f2f2 } /* Keyword.Declaration */
 .kn { color: #859900; background-color: #f2f2f2 } /* Keyword.Namespace */
 .kp { color: #859900; background-color: #f2f2f2 } /* Keyword.Pseudo */
 .kr { color: #859900; background-color: #f2f2f2 } /* Keyword.Reserved */
 .kt { color: #586e75; background-color: #f2f2f2 } /* Keyword.Type */
 .ld { color: #586e75; background-color: #f2f2f2 } /* Literal.Date */
 .m { color: #d33682; background-color: #f2f2f2 } /* Literal.Number */
 .s { color: #2AA198; background-color: #f2f2f2 } /* Literal.String */
 .na { color: #268bd2; background-color: #f2f2f2 } /* Name.Attribute */
 .nb { color: #586e75; background-color: #f2f2f2 } /* Name.Builtin */
 .nc { color: #586e75; background-color: #f2f2f2 } /* Name.Class */
 .no { color: #586e75; background-color: #f2f2f2 } /* Name.Constant */
 .nd { color: #586e75; background-color: #f2f2f2 } /* Name.Decorator */
 .ni { color: #586e75; background-color: #f2f2f2 } /* Name.Entity */
 .ne { color: #586e75; background-color: #f2f2f2 } /* Name.Exception */
 .nf { color: #268bd2; background-color: #f2f2f2 } /* Name.Function */
 .nl { color: #586e75; background-color: #f2f2f2 } /* Name.Label */
 .nn { color: #586e75; background-color: #f2f2f2 } /* Name.Namespace */
 .nx { color: #586e75; background-color: #f2f2f2 } /* Name.Other */
 .py { color: #586e75; background-color: #f2f2f2 } /* Name.Property */
 .nt { color: #859900; background-color: #f2f2f2 } /* Name.Tag */
 .nv { color: #073642; font-weight: bold; background-color: #f2f2f2 } /* Name.Variable */
 .ow { color: #859900; background-color: #f2f2f2 } /* Operator.Word */
 .w { color: #586e75; background-color: #f2f2f2 } /* Text.Whitespace */
 .mf { color: #d33682; background-color: #f2f2f2 } /* Literal.Number.Float */
 .mh { color: #d33682; background-color: #f2f2f2 } /* Literal.Number.Hex */
 .mi { color: #d33682; background-color: #f2f2f2 } /* Literal.Number.Integer */
 .mo { color: #d33682; background-color: #f2f2f2 } /* Literal.Number.Oct */
 .sb { color: #2AA198; background-color: #f2f2f2 } /* Literal.String.Backtick */
 .sc { color: #2AA198; background-color: #f2f2f2 } /* Literal.String.Char */
 .sd { color: #2AA198; background-color: #f2f2f2 } /* Literal.String.Doc */
 .s2 { color: #2AA198; background-color: #f2f2f2 } /* Literal.String.Double */
 .se { color: #2AA198; background-color: #f2f2f2 } /* Literal.String.Escape */
 .sh { color: #2AA198; background-color: #f2f2f2 } /* Literal.String.Heredoc */
 .si { color: #2AA198; background-color: #f2f2f2 } /* Literal.String.Interpol */
 .sx { color: #2AA198; background-color: #f2f2f2 } /* Literal.String.Other */
 .sr { color: #2AA198; background-color: #f2f2f2 } /* Literal.String.Regex */
 .s1 { color: #2AA198; background-color: #f2f2f2 } /* Literal.String.Single */
 .ss { color: #2AA198; background-color: #f2f2f2 } /* Literal.String.Symbol */
 .bp { color: #586e75; background-color: #f2f2f2 } /* Name.Builtin.Pseudo */
 .vc { color: #073642; font-weight: bold; background-color: #f2f2f2 } /* Name.Variable.Class */
 .vg { color: #073642; font-weight: bold; background-color: #f2f2f2 } /* Name.Variable.Global */
 .vi { color: #073642; font-weight: bold; background-color: #f2f2f2 } /* Name.Variable.Instance */
 .il { color: #d33682; background-color: #f2f2f2 } /* Literal.Number.Integer.Long */
